.hover-scale-1 {
    cursor: pointer;
    transition: transform 150ms ease-out;
    &:hover {
        transform: scale(1.04);
    }
}

.hover-scale-2 {
    cursor: pointer;
    transition: transform 150ms ease-out;
    &:hover {
        transform: scale(1.08);
    }
}

.hover-scale-3 {
    cursor: pointer;
    transition: transform 150ms ease-out;
    &:hover {
        transform: scale(1.12);
    }
}

.hover-scale-4 {
    cursor: pointer;
    transition: transform 150ms ease-out;
    &:hover {
        transform: scale(1.16);
    }
}

.hover-scale-5 {
    cursor: pointer;
    transition: transform 150ms ease-out;
    &:hover {
        transform: scale(1.2);
    }
}

.fade-in {
    animation: fadeIn 300ms ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
